#Python cache files
__pycache__/

# Configuration file
config.yaml

# Cluster images
clusters/

# Data directory
data/hdbscan_cache
data/hdbscan_memory

# Website Visualization 
website.py

# Output directory
outputs/cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook metadata
*.ipynb~ 

# Jupyter Notebook output files (optional, if you don't want to track outputs)
*.out
*.log

# MacOS system files
.DS_Store